body{
    height: max-content;
   
    margin: 0cm;
    padding: 0%;
       
  }
  .title{
      
      height: 50px;
      
      background-color:greenyellow;
      margin-top: 0%;
      margin: 0%;
      padding: 13px;
      border: none;
  }
  .imgh{
    width: auto;
    
  }
  .title img{
    float: left;
    height: 40px;
    width: auto;
  
  }
  
  .title h1{
    margin: 0%;
    padding: 0%;
    width: min-content;
    text-decoration: none;
    color: blue;
  
  }
  .title h4{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    width: auto;
    float: right;
  }
  .home{
    width: auto;
  }
  .body{
    left: 0;
    background-color: rgb(251, 255, 251);
    padding: 20px;
    margin: 1%;
    width: 70%;
    min-height:70vh;
    float: right;
  }
  .info{
    background-color: rgb(251, 255, 251);
    height: 100%;
    padding: 20px;
    top: 0;
    
  }
  .info h1{
    margin-left: 40px;
  }
  .recant{
    right: 0;
    width: 20%;
    min-height: 70vh;
    padding: 20px;
    background-color: rgb(91, 218, 101);
    margin-left:1%;
    margin-top: 1%;
   float: left;
  }
  
  
  
   .recanth{
     background-color: rgb(224, 190, 190);
     margin: 7px 10px;
     width: 88%;
     padding: 10px;
     border-radius: 5px;
   }
   .recanth :hover{
     color: darkorange;
   }
   .next
   {
     float:right;
     margin-right: 10%;
     background-color: green;
     font-size: 20px;
     border: none;
     width: 130px;
     height: 40px;
     color: aliceblue;
     border-radius: 10px;

   }
 
   .prev{
    float:left;
    margin-left: 10%;
    background-color: green;
    font-size: 20px;
    border: none;
    width: 130px;
    height: 40px;
    color: aliceblue;
    border-radius: 10px;

  }
  .content{
    margin-top: 80px;
    margin-left: 40px;
    margin-bottom: 30px;


  }

.line{
  height: 1px;
  background: rgb(228, 203, 203);
}
.space{

  margin-left: 50px;
}
.htmlimg{
  margin-left: 10%;
  background-color: rgb(233, 237, 241);
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 20px;

}
.p{
  background-color: black;
  color: aliceblue;
}
.p p{
  padding: 20px;
}
.run{
width: 80px;
height: 30px;
background-color: green;
color: white;
border-radius: 10px;
border:none;
}
.explain{
  line-height: 30px;
  margin-left: 30px;
}
.every{
  margin-left: 30px;
}
.notey{
  padding: 10px;
  width: 100%;
  height:auto;
  background-color: rgb(223, 241, 223);
}
.last{
  margin-top: 30px;
}